@import "~antd/lib/style/themes/default.less";
// @import "localFont.less";

.login_main {
  width : 328px;
  margin: 16px auto;
}

.login_content {
  padding: 32px 0;
  flex   : 1;
}

.dt {
  color: rgba(0, 0, 0, 0.7)
}

.login_container {
  background         : url('/static/bg.jpg'); //url('/static/login-bg.svg');
  background-repeat  : no-repeat;
  background-position: 0% 0%;
  background-size    : 100% 100%;
}

@media (min-width: @screen-md-min) {
  .login_content {
    padding: 112px 0 24px 0;
  }
}

.login_top {
  text-align: center;
  background-color: rgba(39, 52, 64, 1);
  padding: 8px;
}

.login_header {
  height     : 44px;
  line-height: 44px;

  a {
    text-decoration: none;
  }
}

.login_logo {
  height         : 40px;
  // margin-right: 16px;
}

.login_logo2 {
  height         : 45px;
  // margin-right: 16px;
}

@media screen and (max-width: @screen-xs) {
  .login_title {
    font-size: 22px;
  }
}

@media screen and (min-width: @screen-sm) {
  .login_title {
    font-size: 33px;
  }
}

.login_title {
  color      : @heading-color;
  font-family: 'Myriad Pro', 'Helvetica Neue', Arial, Helvetica, sans-serif;
  font-weight: 600;
  position   : relative;
  top        : 2px;
}

.login_prefixIcon {
  font-size: @font-size-base;
  color    : @disabled-color;
}

.login_submit {
  width: 100%;
}

.login_desc {
  font-size    : @font-size-base;
  color        : white;
  font-weight  : bold;
  margin-top   : 12px;
}

.welcome {
  font-size    : @font-size-base;
  color        : white;
  margin-top   : 2px;
  margin-bottom: 8px;
}

:global {
  .ant-form-item {
    margin-bottom: 28px;
  }
}