@import '~antd/lib/style/themes/default.less';

@pro-header-hover-bg: rgba(0, 0, 0, 0.025);


@media screen and (max-width: 767px) {
  .main-content {
    margin    : 10px 10px;
    background: #fff;
    min-height: 280px;
  }
}

@media screen and (min-width: 768px) {
  .main-content {
    margin    : 10px 200px;
    background: #fff;
    min-height: 280px;
  }
}

.handsontableEditor.autocompleteEditor,
.handsontableEditor.autocompleteEditor .ht_master .wtHolder {
  min-height: 138px !important;
}

.dt {
  color: rgba(0, 0, 0, 0.65)
}

.ant-page-header-content {
  padding-top: 8px;
}

.demo-infinite-container {
  overflow: auto;
  height  : 300px;
}

.demo-loading-container {
  position  : absolute;
  bottom    : 40px;
  width     : 100%;
  text-align: center;
}

.ht_clone_top,
.ht_clone_left,
.ht_clone_top_left_corner {
  z-index: 1 !important;
}

.logo {
  height      : 28px;
  margin      : 14px;
  display     : block;
  margin-left : auto;
  margin-right: 10;
  float       : left;
}

.right {
  float   : right;
  height  : 100%;
  overflow: hidden;

  .action {
    cursor    : pointer;
    display   : inline-block;
    transition: all 0.3s;
    height    : 100%;

    >i {
      vertical-align: middle;
      color         : @text-color;
    }

    &:hover {
      background: @pro-header-hover-bg;
    }

    &:global(.opened) {
      background: @pro-header-hover-bg;
    }
  }

  .account {
    .avatar {
      margin-right: 8px;
    }
  }
}